
:root{
    --primary-main: rgba(144, 28, 28, 1);
    --primary-second: rgba(211, 87, 60, 1);
    --secondary-main:rgba(219, 136, 118, 1);
    --secondary-second:rgba(82, 82, 82, 1);
}


#contact_modal {
    display: none;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 20px 35px;
}
.header-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-txt h1 {
    color: var(--primary-second);
    font-size: 64px;
    font-weight: 400;
    max-width: 350px;
    text-align: left;
    margin:0 0 20px 0;
}
.header-location {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-main);
    margin:0 0 25px 0;

}
.header-tagline {
    color: var(--secondary-second);
    font-size: 18px;
    font-weight: 400;
    margin:0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}


.bground{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    justify-content: center;
    align-items: center;
}

.modal {
   border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    
}
.modal-body {
    padding: 35px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.modal header {
    justify-content: space-between;
    padding:20px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: black;
}

form {
    display: flex;
    width: 100%;
    max-width: 599px;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 136px;
    border: none;
    border-radius: 5px;
    
}



h2{
    color: var(--primary-second);
    font-size: 36px;
    margin:0;
}

#portrait-container img {
    height: 200px;
    width: 200px;
    border-radius:50%;
    object-fit: cover;
    object-position: center;
}

.media-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    padding: 0 30px;
    
}
.media-card {
    max-width: 350px;
    width: 100%;
    max-height: 351px;
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.media-card:hover{
    transform: scale(1.1);
}

.media-window img {
    max-width: 350px;
    width: 100%;
    
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.media-window video {
    max-width: 350px;
    width: 100%;
    
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}


.media-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
    max-height: 51px;
    height: 100%;
}

.media-title {
    color:var(--primary-main);
    font-size: 24px;
    font-weight: 400;
}
.media-likes {
    color:var(--primary-main);
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.total-likes_price {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: var(--secondary-main);
    height: 69px;
    width: 376px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.photographer-price , .photographer-total_likes {
    font-size: 24px;
    font-weight: 500;
    color:black
}

.lightbox-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    justify-content: center;
    align-items: center;
}

.lightbox-modal_body {
    width: 100%;
    max-width: 1242px;
    height: 920px;
    background-color:white ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lightbox-container img {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
}

.lightbox-close, 
.lightbox-next, 
.lightbox-prev{
    background: none;
    color: var(--primary-main);
    border: none;
    font-size: 35px;
}

.lightbox-close{
    position: absolute;
    top:0;
    right: 25px;
}
.photographer-total_likes{
    position: relative;
}

.likes-icon {
    position: absolute;
    left: 85px;
}